* {
    padding: 0;
    margin: 0;
    font-family: "YuMincho";
    color: #333;
    word-wrap: break-word;
}

section {
    padding: 120px;
}

h1 {
    font-size: 100px;
    text-align: center;
    font-family: "Sawarabi Mincho", "YuMincho";
    font-weight: 400;
}

h2 {
    font-size: 40px;
    text-align: center;
    font-family: "Sawarabi Mincho", "YuMincho";
}

h4 {
    font-size: 20px;
    text-align: center;
    font-family: "Sawarabi Mincho", "YuMincho";
}

h3 {
    font-size: 28px;
    font-family: "Sawarabi Mincho", "YuMincho";
}
}

p {
    font-size: 16px;
}

/*header*/
header {
    width: 100%;
    height: 450px;
    padding-top: 220px;
    background-image: url(img/header.png);
    background-size: cover;
    background-position: center;
}

/*about*/
.section-title {
    border-bottom: 1px solid #afc692;
    margin: 0 auto;
}

.section-subtitle {
    padding-top: 8px;
}

#about {
    background-image: url(img/washi.png);
    background-repeat: repeat;
}

#about .section-title {
    width: 400px;
}


.section-description {
    padding-top: 60px;
    text-align: center;
}

/*recommended*/
#recommended {
    padding: 0px;
    background-image: url(img/asanoha.png);
    background-color: rgba(255, 255, 250, 0.2);
    background-blend-mode: lighten;
    background-repeat: repeat;
    background-size: 108px 125px;
}

.wrapper {
    width: 66%;
    margin: 0 auto;
    background-color: rgba(255,255,244, 0.6);
    padding: 120px 0;
}

#recommended .section-title {
    width: 320px;
}

.container {
    padding: 88px 20px 20px 20px;
    overflow: hidden;
}

.sentence-right,
.img-right {
    width: 44%;
    padding: 20px 4% 20px 2%;
    float: left;
}

.sentence-left,
.img-left {
    width: 44%;
    padding: 20px 2% 20px 4%;
    float: left;
}

.sentence h3 {
    text-align: center;
    border-bottom: 1px solid #afc692;
    margin: 0 auto;
    width: 108px;
    padding-bottom: 30px;
}

.sentence p {
    padding: 34px 30px 0;
    text-align: start;
}

/*footer*/
footer {
    text-align: center;
    padding: 8px 0;
    background-image: url(img/washi.png);
    background-color: #afc692
}

small {
    font-size: 16px;
}
